@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}


.line {
  width: 4px;
  height: 100vh;
  background: linear-gradient(to bottom, #000, #000);
  transition: background 0.5s ease;
  position: fixed; /* Ensure it stays in place while scrolling */
  left: 50%; /* Center it horizontally */
  transform: translateX(-50%);
}

.redacted {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background: repeating-linear-gradient(
    45deg,
    #000,
    #000 10px,
    #fff 10px,
    #fff 20px
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.glow-effect {
  transition: box-shadow 0.2s ease-in-out;
}

.glow-effect:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

.hero-img {
  @apply w-80 aspect-square;
  position: relative;
  background-image: url("/assets/IMG_8992.JPG");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-clip: padding-box;

  @media (max-width: 500px) {
    width: 19rem;
  }

  animation: morph 8s linear infinite, gradient 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;

  &::before {
    content: '';
    position: absolute;
    top: -0.4rem; /* Adjust according to border width */
    right: -0.4rem;
    bottom: -0.4rem;
    left: -0.4rem;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(270deg, #00f2ff, #f6d860, #ff00e1);
    background-size: 400% 400%;
    animation: gradient-border 8s linear infinite;
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    30% {
      border-radius: 45% 55% 45% 55% / 45% 45% 55% 55%;
    }

    60% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }

  @keyframes gradient-border {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}



  